<link rel="stylesheet" href="../../../../assets/nidhal/assets/css/style.css">
<section
  class="section pb-0 "
  style="background: linear-gradient(87deg, #36aef5 0, #36f59df2 100%) !important "
>
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 text-right order-lg-2 ml-lg-auto">
        <div class="position-relative right pl-md-5"></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="d-flex px-3">
          <div class="pl-4">
            <h4 class="display-3 text-white">About</h4>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
