<section class="section bg-secondary">
  <br />
  <br />
  <br />
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6">
        <div class="card bg-default shadow border-0">
          <ng-container *ngIf="topic[0].categorie == 'Gameplay'">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRJmII-B2KnU2OhBLEeIHBB8qEhJuZ9ucVjaxIqNKXwAEGG9Xan"
              class="card-img-top"
            />
          </ng-container>
          <ng-container *ngIf="topic[0].categorie == 'Bugs'">
            <img
              src="https://i.ytimg.com/vi/xyAv5QXfBSE/maxresdefault.jpg"
              class="card-img-top"
            />
          </ng-container>
          <ng-container *ngIf="topic[0].categorie == 'Comptetions'">
            <img
              src="https://www.insidescandinavianbusiness.com/img/big/E-gamer.jpg"
              class="card-img-top"
            />
          </ng-container>
          <ng-container *ngIf="topic[0].categorie == 'Claims'">
            <img
              src="https://c4.wallpaperflare.com/wallpaper/284/1010/379/quote-minimalism-gas-masks-typography-wallpaper-preview.jpg"
              class="card-img-top"
            />
          </ng-container>
          <ng-container *ngIf="topic[0].categorie == 'Others'">
            <img
              src="https://img.chefdentreprise.com/Images/Breves/breve50234-0.JPG"
              class="card-img-top"
            />
          </ng-container>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pl-md-5">
          <h1 class="h1 text-default font-weight-bold ">
            {{ topic[0].title }}
          </h1>

          <small class="d-block mb-2"> {{ topic[0].categorie }} </small>

          <small class="d-block">
            <i class="fa fa-user"></i> {{ topic[0].createdBy }}
          </small>

          <p class="lead">{{ topic[0].description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-components">
  <div class="container">
    <!-- comments -->
    <br />
    <br />
    <br />
    <h5 class="text-primary">
      {{ comments.length }} comments &nbsp; <i class="fa fa-comment"></i>
    </h5>

    <div *ngFor="let comment of data">
      <ng-container *ngIf="comment.topic == num_topic">
        <div class="row py-3 align-items-center">
          <div class="col-sm-1">
            <img
              src="{{ comment.user.avatar }}"
              alt="Circle image"
              class="img-fluid rounded-circle shadow"
              style="width: 150px;"
            />
            <br />
            &nbsp;
            <small class="d-block text-uppercase font-weight-bold mb-4">
              {{ comment.user.name }}
            </small>
          </div>
          <div class="col-sm-9">
            <p>
              {{ comment.text }}
            </p>
            <ng-container *ngIf="comment.user.id === user_connected_id">
              <button class="text-warning" (click)="deleteComment(comment._id)">
                delete
              </button>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<section class="section section-lg pt-0">
  <div class="container">
    <div class="card bg-gradient-warning shadow-lg border-0">
      <div class="p-5">
        <form [formGroup]="addCommentFrom">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">
                Write a response <i class="fa fa-reply"></i>
              </h3>

              <textarea
                class="form-control form-control-alternative"
                formControlName="post"
                rows="4"
                cols="80"
                placeholder="Response .."
              ></textarea>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <button
                type="button"
                class="btn btn-lg btn-block btn-white"
                [disabled]="!addCommentFrom.valid"
                (click)="addComment()"
              >
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
